@font-face {
    font-family: 'iransans';
    src: url('./fonts/IRANSansX_Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iransans';
    src: url('./fonts/IRANSansX_UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iransans';
    src: url('./fonts/IRANSansX_Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iransans';
    src: url('./fonts/IRANSansX_Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iransans';
    src: url('./fonts/IRANSansX_Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iransans';
    src: url('./fonts/IRANSansX_DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iransans';
    src: url('./fonts/IRANSansX_Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iransans';
    src: url('./fonts/IRANSansX_ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'iransans';
    src: url('./fonts/IRANSansX_Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}